* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

body {
    background-color: #F5F5F5;
}

.header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .search img {
    width: 100%;
}

.header .nav-links {
    list-style: none;
    margin-right: auto;
}

.header .nav-links ul {
    display: flex;
}

.header .nav-links li {
    margin-right: 20px;
    list-style: none;
    padding-left: 60%;
    padding-right:10% ;
}

.header .nav-links li:last-child {
    margin-right: 0;
}

.header .nav-links a {
    font-weight: bold;
    color: #6E7076;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #9F79FF;
}

.header .btn img {
    width: 15%;
    transition: transform 0.3s;
}

.header .btn img:hover {
    transform: scale(1.1);
}

.vertical-navbar {
    position: relative;
    top: 100%;
    left: 0;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    display: none;
    text-align: right;

}

.vertical-navbar ul {
    list-style: none;
    padding: 0;
    margin-right: 10%;
}

.vertical-navbar li {
    margin-bottom: 10px;
}

.vertical-navbar a {
    color: #6E7076;
    text-decoration: none;
}

.vertical-navbar a:hover {
    color: #9F79FF;
}

.show {
    display: block;
}
